$icomoon-font-path: "../../fonts" !default;

$icon-archive-black-box: "\e900";
$icon-arrow-drop-down: "\e901";
$icon-chat-bubble-outline: "\e902";
$icon-done: "\e903";
$icon-factory-building: "\e904";
$icon-info-outline: "\e905";
$icon-info: "\e906";
$icon-local-shipping: "\e907";
$icon-open-in-new: "\e908";
$icon-timer: "\e909";
