<section class="login" ng-controller="loginController">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            <header>
                <a class="logo" href="#" title="Lojas KD - Procurou móveis encontrou aqui!">
                    <img class="center-block" src="dist/images/lojaskd.png" alt="Lojas KD - Procurou móveis encontrou aqui!">
                </a>
            </header>

            <div class="box">

                <h1 class="box__title box__title--bordered">Acompanhar pedido</h1>

                <form class="form" name="loginForm" ng-submit="submitForm(loginForm.$valid)" novalidate autocomplete="off">

                    <div class="form__item form__item--required">
                        <input class="form__input" type="text" name="numPedido" ng-model="numPedido" required>
                        <label class="form__label" for="numPedido">Número do pedido <span>*</span></label>
                        <div class="form__alert" ng-show="loginForm.numPedido.$invalid && !loginForm.numPedido.$pristine">Não pode ficar em branco.</div>
                    </div>

                    <div class="form__item form__item--required">
                        <input class="form__input" type="text" name="CPFouCNPJ" ng-model="CPFouCNPJ" required>
                        <label class="form__label" for="CPFouCNPJ">CPF ou CNPJ <span>*</span></label>
                        <div class="form__alert" ng-show="loginForm.CPFouCNPJ.$invalid && !loginForm.CPFouCNPJ.$pristine">Não pode ficar em branco.</div>
                    </div>

                    <button class="btn" type="submit">Acompanhar</button>

                    <a class="link" href="https://www.lojaskd.com.br" target="_blank" title="LojasKD">LojasKD.com.br</a>

                </form>
            </div>
        </div>
    </div>
</section>
